.sameDiv {
	border: 1px solid #aaa;
	width: 57px;
	height: 57px;
	display: inline-block;
}

body {
	margin: 0 auto;
	padding: 0;

}

.wrapper {
	text-align: center;
	width: 960px;
	margin: 0 auto;

}

.hover {
	background: red;
}
